@*<!DOCTYPE html>
<html>
<head>
    <title>The Materialize Dropdowns Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body class="container">

    <h3>Choose a team</h3>
    <ul id="dropdown" class="dropdown-content">
        <li class="collection-item"><div>Arizona Diamondbacks</div></li>
        <li class="collection-item"><div>Atlanta Braves</div></li>
        <li class="collection-item"><div>Baltimore Orioles<a href="#!" class="secondary-content"><i class="material-icons">perm_identity</i></a></div></li>
        <li class="collection-item"><div>Boston Red Sox<a href="#!" class="secondary-content"><i class="material-icons">perm_identity</i></a></div></li>
    </ul>
    <a class="btn dropdown-button" href="#" data-activates="dropdown">-Select-<i class="mdi-navigation-arrow-drop-down right"></i></a>
</body>
</html>*@


@*@*<!DOCTYPE html>
<html>*@
    @*<head>
        <title>iTunes - Music Search with Javascript</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style type="text/css">
            img.img-thumbnail {height: 225px !important;}</style>
    </head>*@

@model FFHelper.Models.Team

@{ 
    ViewBag.Title = "Team";
}

<body>
    <div class="jumbotron">
        <h1>Fantasy Helper</h1>
        <p class="lead">As a registered user you have the ability to manage your team here.</p>
                                
        <p><a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a></p>
        <ul id='dropdown1' class='dropdown-content'>
            <li class="collection-item"><div>Arizona Diamondbacks</div></li>
            <li class="collection-item"><div>Atlanta Braves</div></li>
            <li class="collection-item"><div>Baltimore Orioles</div></li>
            <li class="collection-item"><div>Boston Red Sox</div></li>
        </ul>
    </div>
   

        <div class="row">
            <div class="col-sm-4">
                <h1>Search player by team</h1>
                <div class="form-group">
                    <label>Select a team from the drop down menu:</label>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.DropDownList("team", new SelectList(string.Empty, "Value", "Text"), "-select-", new { style = "width:150px", @class = "dropdown1" })
                    </div>
                </div>
            </div>
        </div>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript">

     function getTerms(terms) {
        return terms.replace(/[^a-zA-Z]+/g, ' ').trim().replace(/ /g,'+');
      }

     function shorten(phrase){
        if(phrase.length > 30){
          return phrase.substring(0,30)+"...";
        } else {
          return phrase;
        }
      }

     function searchSportRadar(){
        $.ajax({//League Heirarcy Api
            url: 'http://api.sportradar.us/mlb-t6/league/hierarchy.json?api_key=y69j9hjhh48ges2wuemftdq9',
            
          dataType: 'json',
          type: 'GET',
          success: function(data) {
              var teams = '';
              $.each(data.results, function (index, team) {
                  var teamData = '<div class="col-sm-4"><center>';
                  teamData += team.name;
                  teamData += team.ApiTeamId;
                  teams += single;
              });
              $('#results').html(teams);
            if(data.resultCount===0){
              $('#results').html('<div class="col-sm-12"><center><strong><p>0 matches found</p></strong></center></div>');
            }
          }
        });
      }

    </script>
</body>
@*</html>*@
